nav ul li{
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}

nav {
    background-color: cornflowerblue;
}

body, ul {
    margin: 0px;
}

ul {
    padding: 25px;
}


main {
    text-align: center;
}

header {
    width: 100%;
}

.center-item {
    margin: auto;
    display: block;
}


a:hover{
    color: chartreuse;  
    font-weight: bolder; 
}